* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v27_59 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  margin: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_61 {
  width: 100%;
  height: 100%;
  background: url("../images/v27_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_62 {
  width: 100%;
  height: 120px;
  background: url("../images/v27_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_63 {
  width: 100%;
  height: 120px;
  background: rgba(255,235,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_64 {
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 35px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v27_65 {
  width: 527px;
  height: 820px;
  background: rgba(255,234,195,1);
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 1393px;
  border: 0px solid rgba(0,0,0,1);
  border-top-left-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v27_66 {
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 146px;
  left: 1427px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v27_67 {
  width: 434px;
  height: 58px;
  background: url("../images/v27_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 1465px;
  overflow: hidden;
}
.v27_71 {
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v27_77 {
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 213px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v27_78 {
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 308px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v27_79 {
  width: 434px;
  height: 58px;
  background: url("../images/v27_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 1465px;
  overflow: hidden;
}
.v27_83 {
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v27_89 {
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 213px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v27_90 {
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 308px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v27_91 {
  width: 528px;
  height: 140px;
  background: rgba(197,255,244,1);
  opacity: 1;
  position: absolute;
  top: 940px;
  left: 1393px;
  overflow: hidden;
}
.v27_92 {
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 949px;
  left: 1412px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v27_93 {
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1005px;
  left: 1412px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v27_94 {
  width: auto;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 949px;
  left: 1838px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: right;
}
.v27_95 {
  width: auto;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 1005px;
  left: 1746px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: right;
}
.v27_97 {
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 262px;
  left: 772px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v27_98 {
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 447px;
  left: 617px;
  font-family: Noto Sans KR;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v27_99 {
  width: 403px;
  height: 403px;
  background: url("../images/v27_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 510px;
  left: 140px;
  overflow: hidden;
}
.v27_100 {
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 701px;
  left: 769px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v27_101 {
  width: auto;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 822px;
  left: 880px;
  font-family: Noto Serif KR;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
